Repository We-Are-One-CS/intranet, pull requests merged in 2020-05, with the labels that each got.

#78 Merge pull/76 of PrissVI with the rebase of the work with the Django CI
  .github/labeler.yml
  .github/workflows/django.yml
  .github/workflows/label.yml
  .gitignore
  intranet/settings.py
  requirements.txt
  wao/admin.py
  wao/forms.py
  wao/models.py
  wao/models/__init__.py
  wao/models/beneficiary.py
  wao/models/category.py
  wao/models/company.py
  wao/models/event.py
  wao/models/membership_type.py
  wao/models/self_development_program.py
  wao/models/structure.py
  wao/models/subjectimpact.py
  wao/models/user.py
  wao/models/yearbook.py
  wao/static/wao/css/event_info.css
  wao/static/wao/css/user.css
  wao/static/wao/css/yearbook.css
  wao/templates/wao/change_password.html
  wao/templates/wao/event_info.html
  wao/templates/wao/index.html
  wao/templates/wao/layouts/base.html
  wao/tests.py
  wao/urls.py
  wao/views.py
Labels: admin, forms, github-actions, models, test, urls, views

#79 Update labeler.yml
  .github/labeler.yml
Labels: github-actions

#80 Moderation
  wao/static/wao/css/moderation.css
  wao/templates/wao/layouts/base.html
  wao/templates/wao/moderate_event.html
  wao/templates/wao/moderate_user.html
  wao/urls.py
  wao/views.py
Labels: urls, views

#81 Update labeler.yml
  .github/labeler.yml
Labels: github-actions

#82 Event labels
  intranet/settings.py
  requirements.txt
  wao/admin.py
  wao/forms.py
  wao/models/event.py
  wao/templates/wao/create_event.html
Labels: admin, dependencies, forms, intranet, models, settings

#83 Write tests
  wao/managers.py
  wao/tests.py
Labels: managers, test

#85 Fix event
  wao/templates/wao/index.html
  wao/views.py
Labels: views
